 body {
    font-family: "Source Sans Pro","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.728571;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.navbar { background-color: #FFFFFF}
.navbar .navbar-nav>.active>a:hover,.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus { background-color: #6B53CA}
.navbar .navbar-nav>.active>a,.navbar .navbar-nav>.open>a,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus { background-color: #FFFFFF}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #6B53CA}
.navbar { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar { border-color: #FFFFFF}
.navbar .navbar-brand { color: #6B53CA}
.navbar .navbar-brand:hover { color: #6B53CA}
.navbar .navbar-nav>li>a { color: #6B53CA}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar .navbar-nav>.active>a,.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus { color: #3E3075}
.navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

@media (min-width: 1000px) {
    .container{
        max-width: 770px;
    }
}

ul.nav li a, ul.nav li a:visited {
    color: #6B53C !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #6B53C !important;
}

ul.nav li.active a {
    color: #6B53C !important;
}